body {
    background-color: black;
    background-image: url('./Images/landing.png');
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-position: 50%; */
    background: position y 50px position x 50px;

}

@font-face {
    font-family: "DIN Next LT Pro Condensed";
    src: url('./Fonts/DIN\ Family\ Font/DINNextLTPro-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* body>img {
    align-self: center;
} */

header {
    font-family: "DIN Next LT Pro Condensed";
    padding: 15px;
    justify-content: space-between;
    justify-items: center;
}

a {
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}