body {
    margin: 0;
}

.product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
}

.sideImage {
    display: flex;
    flex-direction: row-reverse;
    width: 200px;
    padding: 5px;
}

.sideImage>img {
    width: 150px;
    margin-left: 50px;

}

.product-list>.product {
    width: 100%;
    display: flex;
}

.product-list>.product>.image {
    height: 180px;
    width: 180px;
    border: solid 3px lightgray;
    position: relative;
    overflow: hidden;
}

/* .box {
    max-width:500px;
    height:200px;
    margin:50px auto 0;
    background:lightblue;
    position:relative;
    overflow: hidden;
  } */
  
  .ribbon {
    position: absolute;
    background: rgb(148, 42, 36);
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    box-shadow: 0 0 0 999px rgb(148, 42, 36);
    clip-path: inset(0 -100%);
  }

  .ribbon.left {
    inset: 0 auto auto 0;
    transform-origin: 100% 0;
    padding: 4px;
    transform: translateX(-34.3%) translateY(6.7%) rotate(-45deg);
  }

  .ribbon.right {
    inset: 0 0 auto auto;
    transform-origin: 0 0;
    transform: translate(29.3%) rotate(45deg);
  }

.product-list>.product>.image>img {
    width: 100%;
    height: 100%;
}

.product-list>.product>.info>.details {
    background-color: rgb(235, 235, 235);
    height: 75%;
    width: 100%;
}

.product-list>.product>.info>.details>.caracteristicas {
    font: caption;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: small;
    color: rgb(59, 59, 59);
}

.product-page {
    display: flex;
    justify-content: space-around;
}

.product-list>.product>.info>.details>.title {
    padding-left: 50px;
    flex: 75%;
    background-color: black;
    color: white;
    margin-top: 35px;
    height: 45px;
    width: 85%;
    /*400px*/
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 60px;
}

.footerDiv {
    padding: 1%;
    color: grey;
    background-color: lightgrey;
    align-content: center;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    border-bottom: solid black 3px;
    margin-bottom: 20px;
    text-align: right;
    font-weight: 200;
    font-family: sans-serif;
    text-transform: uppercase;
}


.headerDiv>.headerLogoImage {

    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    padding: 5px;
}

.container {
    width: 1000px;
}

.containter.row {
    align-self: stretch;
    justify-items: center;
}